folium==0.14.0
matplotlib==3.7.0
matplotlib-inline==0.1.6
pandas==1.5.3
Pillow==9.4.0
pywebview==4.2.2
selenium==4.15.2
fastjsonschema==2.16.2
imagecodecs==2021.8.26
imageio==2.26.0
imagesize==1.4.1
json5==0.9.6
jsonpatch==1.32
jsonpointer==2.1
jsonschema==4.17.3
pyserial==3.5
tkhtmlview==0.2.0
tkinterhtml==0.7
tkinterweb==3.23.2
ujson==5.4.0
